<nav class="sidebar vh-100">

  <div class="sidebar-top">
    <h1>Video Chat</h1>
  </div>

  <hr>

  <h3>Online: </h3>
  <div class="sidebar-online">
    <ul class="navbar-nav">
      <li class="nav-item">Test</li>
      <li class="nav-item">Test</li>
    </ul>
  </div>

  <hr>

  <h3>Offline: </h3>
  <div class="sidebar-offline">
    <ul class="navbar-nav">
      <li class="nav-item">Test</li>
      <li class="nav-item">Test</li>
    </ul>
  </div>

  <div class="my-profile">
    TEST
    <!-- TODO: align bottom -->
  </div>

</nav>
