#videos{
  display: grid;
  grid-template-columns: 1fr;
  max-height: 85vh;
  overflow:hidden;
}

.video-player{
  background-color: black;
  width: 95%;
  object-fit: cover;
}

#contact-video {
  display: none;
}

#controls{
  position: fixed;
  margin-bottom: 10px;
  margin-top: 20px;
  bottom: 10px;
  left: 50%;
  transform:translateX(-50%);
  display: flex;
  gap: 1em;
}
