h5 {
  color: var(--chat-blue-darker);
  margin-bottom: 20px;
}

.modal {
  background-color: rgba(0, 0, 0, 0.35);
}

.modal-content {
  border-color: var(--chat-blue-darker);
  margin-top: 100px;
}

.caller-info {
  margin: 20px;
}

.modal-content {
  max-height: fit-content;
  max-width: fit-content;
}
