<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Find Contacts</h5>
        <button type="button" class="btn-close" (click)="close()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search for contacts..." [(ngModel)]="usernameSearch" (ngModelChange)="onSearchInput()">
        </div>

        <div class="mb-3 text-center">
          <img *ngIf="loading" ngSrc="assets/loaders/three-dots.svg" width="45" height="11">
        </div>

        <div class="mb-3 justify-content-center">
          <table class="table table-borderless">
            <tbody>
            <tr *ngFor="let user of users | paginate: { totalItems: totalItems, itemsPerPage: 6, currentPage: page }">
              <td class="td-user"> {{ user.username }} ({{ user.firstName }})</td>
              <td class="text-end">
                <i class="bi bi-plus-circle icon-blue"
                   (click)="sendRequest(user.username)"
                   id="request-icon"
                   data-bs-toggle="tooltip"
                   data-bs-placement="top"
                   title="Send request"></i>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="mb-3 text-center">
          <p class="error-text"> {{ errorText }} </p>
        </div>

        <div *ngIf="totalItems > 0" class="row justify-content-center">
          <div class="col-md-auto pagination-div">
            <pagination-controls (pageChange)="pageChangeEvent($event)" nextLabel="Next" previousLabel="Prev"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
