<nav  class="sidebar vh-100">

  <div class="sidebar-top">
    <h1>
      <i class="bi bi-camera-video"></i>
      <span> Video Chat </span>
    </h1>
  </div>
  <hr>

  <h3 class="sidebar-clickable" (click)="openAddContact()">
    <i class="bi bi-person-plus"></i>
    <span> Add new contact </span>
  </h3>
  <hr>

  <div id="navbar-users" class="overflow-auto">
    <div class="sidebar-online">
      <ul class="navbar-nav">
        <li *ngFor="let contact of onlineContacts" (click)="openChat(contact.username)" class="nav-item sidebar-clickable">
          <i class="online-status bi bi-check-circle"></i>
          {{ contact.username }} | {{ contact.firstName }}
        </li>
      </ul>
    </div>
    <hr *ngIf="onlineContacts.length > 0">

    <div class="sidebar-offline">
      <ul class="navbar-nav">
        <li *ngFor="let contact of offlineContacts" (click)="openChat(contact.username)" class="nav-item sidebar-clickable offline-contact">
          <i class="offline-status bi bi-dash-circle"></i>
          {{ contact.username }} | {{ contact.firstName }}
        </li>
      </ul>
    </div>
  </div>

  <div class="row justify-content-between bottom-section">
    <div class="col-md-auto my-profile">
      <i class="bi bi-person-circle"></i>
      {{ username }}
    </div>
    <div class="col-md-auto gear-icon">
      <i (click)="openSettings()" class="bi bi-gear"></i>
    </div>
  </div>

  <app-add-contact></app-add-contact>
  <app-settings></app-settings>
  <app-loading></app-loading>

</nav>
