.sidebar {
  background-color: var(--chat-blue-dark);
  padding: 20px;
  position:relative;
  display: flex;
  flex-direction: column;
  box-shadow:  5px 5px 16px #b3b3b3, -5px -5px 16px #ffffff;
}

* {
  color: var(--chat-white);
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
}

h3 {
  font-size: 1.2em;
}

.nav-item {
  font-size: 1.1em;
}

.sidebar-clickable {
  padding: 5px;
}

.sidebar-clickable:hover {
  background-color: var(--chat-blue-darker);
  border-radius: 5px;
  cursor: pointer;
}

.bottom-section {
  position: absolute;
  bottom: 0;
  margin-bottom: 15px;
  font-size: 1.25em;
  min-width: 90%;
}

.gear-icon:hover {
  cursor: pointer;
}

#navbar-users {
  max-height: 80%;
}

.online-status, .offline-status {
  margin-right: 10px;
}

.online-status {
  color: lawngreen;
}

.offline-contact, .offline-status {
  color: var(--chat-grey);
}
