<div class="container-fluid">
  <div class="row">
    <div id="sidenav" class="col-2">
      <app-navbar [mainComponent]="this"></app-navbar>
    </div>
    <div class="col-10">
      <nav class="navbar d-flex justify-content-end align-items-center">
        <div *ngIf="isLoggedIn" class="d-flex align-items-center">
          <i *ngIf="contactRequests.length == 0; else requests" (click)="noRequestsInfo()" class="bi bi-envelope envelope-icon envelope-empty"></i>
          <ng-template #requests>
            <i (click)="openContactRequests()" class="bi bi-envelope-exclamation envelope-icon envelope-requests"></i>
          </ng-template>

          <button type="button" class="button-outline" (click)="logout()">Logout</button>
        </div>
      </nav>

      <ng-container [ngSwitch]="componentType">
        <app-home *ngSwitchCase="ComponentType.HOME"></app-home>
        <app-chat *ngSwitchCase="ComponentType.CHAT" [mainComponent]="this"></app-chat>
      </ng-container>

      <app-contact-requests></app-contact-requests>

    </div>
  </div>
</div>
