<div class="container-fluid">
  <div class="row">
    <div id="sidenav" class="col-2">
      <app-navbar></app-navbar>
    </div>
    <div class="col-10">
      <nav class="navbar justify-content-end">
        <div *ngIf="isLoggedIn">
          <button type="button" class="button-outline" (click)="logout()">Logout</button>
        </div>
      </nav>
      <ng-container [ngSwitch]="componentType">
        <app-home *ngSwitchCase="ComponentType.HOME"></app-home>
        <app-chat *ngSwitchCase="ComponentType.CHAT"></app-chat>
      </ng-container>
    </div>
  </div>
</div>
