.camera-icon {
  color: var(--chat-blue-dark);
  font-size: 15em;
}

.camera-row {
  margin-top: 100px;
}

.camera-col {
  max-height: 300px;
}

.lottie {
  max-width: 700px;
}

h1, h3 {
  color: var(--chat-blue-darker);
}

h1 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}
