<hr>
<div class="container-fluid d-flex flex-column chat-div">
  <div class="row justify-content-between">
    <div class="col-md-auto">
      <p class="username">{{ chatContactUsername }}</p>
    </div>
    <div class="col-md-auto buttons-col">
      <button (click)="startCall(false)" class="button-main"><i class="bi bi-telephone-fill"></i></button>
      <button (click)="startCall(true)" class="button-main"><i class="bi bi-camera-video-fill"></i></button>
      <button type="button" class="btn-close" (click)="closeChat()" aria-label="Close"></button>
    </div>
  </div>
  <br>

  <div #messagesContainer class="overflow-auto flex-grow-1 messages-container">
    <div *ngFor="let message of messages" class="message-row">
      <div [ngClass]="{'contact-message': message.usernameFrom !== chatContactUsername, 'user-message': message.usernameFrom === chatContactUsername}">
        {{ message.text }}
      </div>
    </div>
  </div>

  <form class="row align-items-center" (ngSubmit)="sendMessage()">
    <div class="col-md-11">
      <textarea [(ngModel)]="currentMessage" name="text" class="form-control" rows="2" (keydown.enter)="$event.preventDefault(); sendMessage()"></textarea>
    </div>
    <div class="col-md-1">
      <button type="submit" class="button-main"><i class="bi bi-send"></i></button>
    </div>
  </form>
</div>

