hr {
  margin-top: 0;
}

.username {
  color: var(--chat-blue-dark);
  font-size: 1.2em;
  font-weight: bold;
}

.buttons-col > * {
  margin-left: 5px;
}

.btn-close {
  margin-left: 15px !important;
}
