hr {
  margin-top: 0;
}

.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
}

.username {
  color: var(--chat-blue-dark);
  font-size: 1.2em;
  font-weight: bold;
}

.buttons-col > * {
  margin-left: 5px;
}

.btn-close {
  margin-left: 15px !important;
}

.user-message {

}

.contact-message {

}

textarea {
  resize: none;
}
