@import 'bootstrap-icons/font/bootstrap-icons.css';

:root {
  --chat-blue: #0aabcb;
  --chat-blue-dark: #09829f;
  --chat-blue-darker: #076e86;
  --chat-white: #f8f9fa;
  --chat-grey: #c5c5c5;
  --chat-red: #a40000;
}

* {
  font-family: 'Trebuchet MS', sans-serif;
}

label {
  color: var(--chat-blue-darker);
}

.button-main, .button-outline {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  letter-spacing: 2px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 12px 14px 12px;
}

.button-main {
  border: 1px solid transparent;
  color: var(--chat-white);
  background-color: var(--chat-blue);
}

.button-main:hover{
  background-color: var(--chat-blue-dark);
}

.button-outline {
  border: 2px solid;
  color: var(--chat-blue);
  background-color: transparent;
}

.button-outline:hover{
  color: var(--chat-white);
  background-color: var(--chat-blue);
}

.error-text {
  color: var(--chat-red);
  min-height: 24px;
}
